.container {
  display: grid;
  overflow: hidden;

  &.close {
    grid-template-rows: 0;
  }

  &.open {
    grid-template-rows: 1fr;
  }
}

.folderName {
  margin-bottom: 0.3rem;
}

.nameContainer {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  border-radius: 4px;

  cursor: pointer;
}

.selected {
  color: #3c4248;
  background: #e6ecf3;
}
