.container {
  width: 100%;
  height: 650px;
  max-width: 1200px;
  margin: 0 auto;

  background: #3c4248;
  color: #e6ecf3;

  display: grid;
  grid-template-columns: minmax(max-content, 20%) 1fr;
  border-radius: 10px;
}
